<h1>Atualizar Produto</h1>

<form action="/atualizar_produto" method="post">
<h3>Configurações Atuais do Produto</h3>
    <label for="id">Insira o Id do Produto que você deseja atualizar</label>
    <input type="text" name="id" placeholder="Insira o Id do Produto"><br>
    <br>
    <label for="nome_produto">Insira o nome do Produto que você deseja atualizar</label>
    <input type="text" name="nome_produto" placeholder="Insira o nome do Produto"><br>
    <br>

<h3>Novas configurações do Produto</h3>


    <button type="submit">Atualizar</button>
</form>

{{#if msg}}
    <p>{{msg}}</p>
{{/if}}