h1{
    margin-top: 5vh;
    text-align: center;
}

form {
    width: 50%;
    margin: 20px auto;
    text-align: left;
}

form h1 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    background-color: transparent;
    color: #333;
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #000; /* Adiciona uma borda preta fina */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Evita que as bordas adicionem à largura total */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

form button:hover {
    color: #fff;
    background-color: #333; /* Preenche com a cor de fundo ao passar o mouse */
    border-color: #555; /* Cor da borda ao passar o mouse */
}